<h1>Listing photo_locals</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Local</th>
    <th>Description</th>
  </tr>

<% for photo_locals in @photo_locals %>
  <tr>
    <td><%=h photo_locals.photo_id %></td>
    <td><%=h photo_locals.local_id %></td>
    <td><%=h photo_locals.description %></td>
    <td><%= link_to 'Show', photo_locals %></td>
    <td><%= link_to 'Edit', edit_photo_locals_path(photo_locals) %></td>
    <td><%= link_to 'Destroy', photo_locals, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo_locals', new_photo_locals_path %>
