<h1>Listing sound_document_locals</h1>

<table>
  <tr>
    <th>Sound document</th>
    <th>Local</th>
    <th>Description</th>
  </tr>

<% for sound_document_locals in @sound_document_locals %>
  <tr>
    <td><%=h sound_document_locals.sound_document_id %></td>
    <td><%=h sound_document_locals.local_id %></td>
    <td><%=h sound_document_locals.description %></td>
    <td><%= link_to 'Show', sound_document_locals %></td>
    <td><%= link_to 'Edit', edit_sound_document_locals_path(sound_document_locals) %></td>
    <td><%= link_to 'Destroy', sound_document_locals, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sound_document_locals', new_sound_document_locals_path %>
