<% content_for :page_title do %>Lista de Documentos Sonoros<% end %>


<div id=sound_documents-index-list class=resource-list>

  <p><%=h "
    A Base de Dados Imagens e Sonoridades das Migrações conta, neste momento, com #{SoundDocument.count} documentos sonoros." %>
  </p>

  <div id="search_filters">
  <% form_tag sound_documents_path, :method => 'get' do %>
    <div class="search_field">
      <%= label :author_id, 'Author' %>
      <%= select_tag 'author_id', options_for_select(
            [["-- Todos --",'']] + Author.find(:all, :order => 'name').map { |o| [o.name, o.id] },
            params[:author_id].to_i) %>
    </div>
    <div class="search_field">
      <%= label :director_id, 'Director' %>
      <%= select_tag 'director_id', options_for_select(
            [["-- Todos --",'']] + Director.find(:all, :order => 'name').map { |o| [o.name, o.id] },
            params[:director_id].to_i) %>
    </div>
    <div class="search_field">
      <%= label :music_genre_id, 'Genre' %>
      <%= select_tag 'music_genre_id', options_for_select(
            [["-- Todos --",'']] + MusicGenre.find(:all, :order => 'name').map    { |o| [o.name, o.id] },
            params[:music_genre_id].to_i) %>
    </div>
    <div class="search_field">
      <%= label :keywords, 'Palavras&nbsp;chave' %>
      <%= text_field_tag 'keywords', params[:keywords], :size => 32 %>
    </div>
    <%= submit_tag 'Pesquisar', :name => nil %>                        
  <% end %> 

  <p>
    <% unless params[:author_id] || params[:director_id] || params[:music_genre_id] || params[:keywords] %>
      A listagem de documentos sonoros pode ser limitada através de uma pesquisa.
      Introduza os parametros e carregue em pesquisar.
    <% else %>
    <% if @sound_documents.size == 0 %>
      Não foram encontrados documentos sonoros.
    <% elsif @sound_documents.size == 1 %>
      Foi encontrado 1 documento sonoro.
    <% else %>
      Foram encontrados <%= @sound_documents.size %> documentos sonoros.
    <% end %> 
    Para desfazer a pesquisa click <%= link_to 'aqui', sound_documents_path %>.
    <% end %>
  </p>
  </div>


  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Title".humanize %>          </th>
      <th>              <%=h "Director".humanize %>       </th>
      <th>              <%=h "Genre".humanize %>         </th>
    </tr>
  
    <% for sound_document in @sound_documents %>
    <tr <%= cycle "", "class='odd'"%> href="<%= sound_document_path(sound_document)%>">
      <td class="main">
        <%= link_to h(truncate(sound_document.title,46,"...")), sound_document_path(sound_document), :title => sound_document.synopsis %>            
      </td>
      <td class="director">
        <%= link_to h(truncate(directors_names(sound_document),43,"...") || ""), sound_document_path(sound_document), :title => sound_document.synopsis %> 
      </td>
      <td class="genre">
        <%= link_to h(sound_document.music_genre && truncate(sound_document.music_genre.name,15,"...") || ""), sound_document_path(sound_document), :title => sound_document.synopsis %> 
      </td>
    </tr>
    <% end %>

  </table>
</div>
