<h1>Listing sound_documents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Synopsis</th>
    <th>Author</th>
    <th>Director</th>
    <th>Producer</th>
    <th>Production year</th>
    <th>Release date</th>
    <th>Local</th>
    <th>Comments</th>
    <th>Production context</th>
    <th>Distributor</th>
    <th>Duration</th>
    <th>Format</th>
    <th>Category</th>
    <th>Category id1</th>
    <th>Category id2</th>
    <th>Category id3</th>
    <th>Category id4</th>
    <th>Free</th>
    <th>Rights</th>
  </tr>

<% for sound_document in @sound_documents %>
  <tr>
    <td><%=h sound_document.title %></td>
    <td><%=h sound_document.synopsis %></td>
    <td><%=h sound_document.author_id %></td>
    <td><%=h sound_document.director_id %></td>
    <td><%=h sound_document.producer %></td>
    <td><%=h sound_document.production_year %></td>
    <td><%=h sound_document.release_date %></td>
    <td><%=h sound_document.local_id %></td>
    <td><%=h sound_document.comments %></td>
    <td><%=h sound_document.production_context %></td>
    <td><%=h sound_document.distributor %></td>
    <td><%=h sound_document.duration %></td>
    <td><%=h sound_document.format %></td>
    <td><%=h sound_document.category_id %></td>
    <td><%=h sound_document.category_id1 %></td>
    <td><%=h sound_document.category_id2 %></td>
    <td><%=h sound_document.category_id3 %></td>
    <td><%=h sound_document.category_id4 %></td>
    <td><%=h sound_document.free %></td>
    <td><%=h sound_document.rights %></td>
    <td><%= link_to 'Show', sound_document %></td>
    <td><%= link_to 'Edit', edit_sound_document_path(sound_document) %></td>
    <td><%= link_to 'Destroy', sound_document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sound_document', new_sound_document_path %>
