<% content_for :page_title do %>Lista de Documentos Sonoros<% end %>

<div id=sound-documents-index-list class=resource-list>
<p style="padding: 2em"> Brevemente será introduzida informação deste género na nossa base de dados.</p><% if false%>
  <table>

    <tr>
      <th></th>
      <th><%=h "Title".humanize %>          </th>
      <th><%=h "Author".humanize %>         </th>
      <th><%=h "Director".humanize %>       </th>
      <th><%=h "music genre".humanize %>          </th>
      <th><%=h "Synopsis".humanize %>       </th>
    </tr>
  
    <% for resource in @sound_documents %>
    <tr <%= cycle "", "class='odd'"%> href="<%= sound_document_path(resource) %>">
      <td class="resource-pic"></td>
      <td><%= link_to truncate(resource.title,50,"..."), sound_document_path(resource) %></td>
      <td><%= link_to resource.author.name, author_path(resource.author) if resource.author %></td>
      <td><%= link_to resource.director.name, director_path(resource.director) if resource.director %></td>
      <td><%=h resource.music_genre.name if resource.music_genre %></td>
      <td><%=h truncate(resource.synopsis,50,"...") %></td>
    </tr>
    <% end %>

  </table>
  <%end%>
</div>
