<% content_for :page_title do %>Lista de Documentos Sonoros<% end %>


<div id=sound_documents-index-list class=resource-list>

  <p><%=h "
    A Base de Dados Imagens e Sonoridades das Migrações conta, neste momento, com #{SoundDocument.count} documentos sonoros." %>
  </p>

  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Title".humanize %>          </th>
      <th>              <%=h "Director".humanize %>       </th>
      <th>              <%=h "Genre".humanize %>         </th>
    </tr>
  
    <% for sound_document in @sound_documents %>
    <tr <%= cycle "", "class='odd'"%> href="<%= sound_document_path(sound_document)%>">
      <td class="main">
        <%= link_to h(truncate(sound_document.title,46,"...")), sound_document_path(sound_document), :title => sound_document.synopsis %>            
      </td>
      <td class="director">
        <%= link_to h(truncate(directors_names(sound_document),43,"...") || ""), sound_document_path(sound_document), :title => sound_document.synopsis %> 
      </td>
      <td class="genre">
        <%= link_to h(sound_document.music_genre && truncate(sound_document.music_genre.name,15,"...") || ""), sound_document_path(sound_document), :title => sound_document.synopsis %> 
      </td>
    </tr>
    <% end %>

  </table>
</div>
