<p>
  <b>Title:</b>
  <%=h @sound_document.title %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @sound_document.synopsis %>
</p>

<p>
  <b>Production year:</b>
  <%=h @sound_document.production_year %>
</p>

<p>
  <b>Release date:</b>
  <%=h @sound_document.release_date %>
</p>

<p>
  <b>Comments:</b>
  <%=h @sound_document.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @sound_document.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @sound_document.distributor %>
</p>

<p>
  <b>Duration:</b>
  <%=h @sound_document.duration %>
</p>

<p>
  <b>Format:</b>
  <%=h @sound_document.format %>
</p>
