<p>
  <b>Title:</b>
  <%=h @sound_document.title %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @sound_document.synopsis %>
</p>

<p>
  <b>Author:</b>
  <%=h @sound_document.author_id %>
</p>

<p>
  <b>Director:</b>
  <%=h @sound_document.director_id %>
</p>

<p>
  <b>Producer:</b>
  <%=h @sound_document.producer %>
</p>

<p>
  <b>Production year:</b>
  <%=h @sound_document.production_year %>
</p>

<p>
  <b>Release date:</b>
  <%=h @sound_document.release_date %>
</p>

<p>
  <b>Local:</b>
  <%=h @sound_document.local_id %>
</p>

<p>
  <b>Comments:</b>
  <%=h @sound_document.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @sound_document.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @sound_document.distributor %>
</p>

<p>
  <b>Duration:</b>
  <%=h @sound_document.duration %>
</p>

<p>
  <b>Format:</b>
  <%=h @sound_document.format %>
</p>

<p>
  <b>Category:</b>
  <%=h @sound_document.category_id %>
</p>

<p>
  <b>Category id1:</b>
  <%=h @sound_document.category_id1 %>
</p>

<p>
  <b>Category id2:</b>
  <%=h @sound_document.category_id2 %>
</p>

<p>
  <b>Category id3:</b>
  <%=h @sound_document.category_id3 %>
</p>

<p>
  <b>Category id4:</b>
  <%=h @sound_document.category_id4 %>
</p>

<p>
  <b>Free:</b>
  <%=h @sound_document.free %>
</p>

<p>
  <b>Rights:</b>
  <%=h @sound_document.rights %>
</p>


<%= link_to 'Edit', edit_sound_document_path(@sound_document) %> |
<%= link_to 'Back', sound_documents_path %>
