<h1>New movie_sound_document</h1>

<% form_for(@movie_sound_document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :movie_id %><br />
    <%= f.text_field :movie_id %>
  </p>
  <p>
    <%= f.label :sound_document_id %><br />
    <%= f.text_field :sound_document_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', movie_sound_documents_path %>
