<h1>Editing writen_document_photo</h1>

<% form_for(@writen_document_photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :writen_document_id %><br />
    <%= f.text_field :writen_document_id %>
  </p>
  <p>
    <%= f.label :photo_id %><br />
    <%= f.text_field :photo_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @writen_document_photo %> |
<%= link_to 'Back', writen_document_photos_path %>
