<%= f.error_messages %>
<%= f.persist_fields %>

<dl>
  <%= authors_field_selector_with_js f, current_member      %>
  <% f.columns.each do |column| -%>
    <%= f.render column unless ['created_at', 
                                'version_name', 
                                'content_type', 
                                'file_size', 
                                'photo_owner_type', 
                                'updated_at'].include? column.name %>
  <% end -%>
  <%= field_selector f, "category"                          %>
  <%= field_selector f, "subcategory_1_id", Subcategory     %>
  <%= field_selector f, "subcategory_2_id", Subcategory     %>
  <%= field_selector f, "subcategory_3_id", Subcategory     %>
  <%= field_selector f, "subcategory_4_id", Subcategory     %>
  <br/>
</dl>
 
<%= associate_nn_selector current_member, 'photo', 'movie',           'title', [], :mode => :invert %>
<%= associate_nn_selector current_member, 'photo', 'sound_document',  'title', [], :mode => :invert %>
<%= associate_nn_selector current_member, 'photo', 'writen_document', 'title', [], :mode => :invert %>
<%= associate_nn_selector current_member, 'photo', 'photo',           'title', [], :mode => :itself %>
<%= associate_nn_selector current_member, 'photo', 'local',           'name',  [], :mode => :normal %>
<%= associate_nn_selector current_member, 'photo', 'prize',           'name',  [], :mode => :normal %>

<h3>Associar Ficheiro</h3>
<%= image_tag current_member.versions[:preview].relative_path if current_member.versions.size > 0 %>
<%= uploadify_file_field :photo, :photo_uploaded_data %>
