
<h1><%= resource_plural.humanize %></h1>

<p><%= link_to "New #{resource_singular}".humanize, new_member_path %></p>

<table cellspacing="0" id="crudify-table">
  <thead>
    <tr>
<% ((!resource_class.respond_to?(:default_format) || resource_class.default_format.nil?) ? resource_class.content_columns : resource_class.columns_for(resource_class.default_format)).each do |column| -%>
  <% unless ["version_name","content_type","photo_owner_type","pdf_owner_type","filename"].include? column.name -%>  
    <th><%= column.respond_to?(:label) ? column.label : column.human_name %></th>
  <% end -%>
<% end -%>
      <th class="actions">Acções</th>
    </tr>
  </thead>
  <tbody>
      <%= render :partial => 'member', :collection => current_collection -%>
  </tbody>
</table>

<p><%= link_to "New #{resource_singular}".humanize, new_member_path %></p>
