<% content_for :page_title do %>Lista de Realizadores<% end %>
<% content_for :body_id,    "directors-index" %>


<div id=directors-index-list class=resource-list>
  <table>

    <tr>
      <th></th>
      <th><%=h "Name".humanize %>          </th>
      <th><%=h "Biography".humanize %>         </th>
    </tr>
  
    <% for resource in @directors %>
    <tr <%= cycle "", "class='odd'"%>  href="<%= director_path(resource)%>" >
      <td class="resource-pic">  </td>
      <td><%= link_to truncate(resource.name,80,"..."), director_path(resource) %></td>
      <td><%=h truncate(resource.biography,80,"...") %></td>
    </tr>
    <% end %>

  </table>
</div>

