<% content_for :page_title do %>Lista de Realizadores<% end %>
<% content_for :body_id,    "directors-index" %>


<div id=directors-index-list class=resource-list>
  <p>
    Para ter acesso às últimas actualizações da nossa Base de Dados visite a nossa página em 
    <a style='color:red;text-decoration:underline;' href='http://itacaproject.com'>www.itacaproject.com</a>.
  </p>
  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Name".humanize %>          </th>
      <th>              <%=h "Biography".humanize %>     </th>
    </tr>
  
    <% for resource in @directors %>
    <tr <%= cycle "", "class='odd'"%> >
      <td class="main">     <%= link_to truncate(resource.name,50,"..."),      director_path(resource) %></td>
      <td class="biography"><%= link_to truncate(resource.biography,50,"..."), director_path(resource) %></td>
    </tr>
    <% end %>

  </table>
</div>

