<% content_for :page_title, truncate(@director.name,46,"...") %>
<% content_for :body_id,    "show-director" %>

<div id='generic-info' class='selfclear'>
  <div id='item-visuals'>
    <div id='item-presenter'>
    </div>
  </div>

  <div id= 'fields'>
    <%= render_field(@director,'name')%>
    <%= render_field(@director,'first_work')%>
    <%= render_field(@director,'biography')%>
  </div> 
</div>


<div id='related-info' class='selfclear'>
  <h3>Obras do Realizador</h3>

  <div class='selfclear'>
    <%= render_related 'movies', (@director.movies.map do | item | 
          { :title => item.title, :path => movie_path(item), :description => "" } 
    end) if @director.movies %> 
    <%= render_related 'sound_documents', (@director.sound_documents.map  do | item | 
          { :title => item.title, :path => sound_document_path(item), :description => "" } 
    end) if @director.sound_documents %> 
  </div>
</div>	



