<h1>Editing sound_document_prize</h1>

<% form_for(@sound_document_prize) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sound_document_id %><br />
    <%= f.text_field :sound_document_id %>
  </p>
  <p>
    <%= f.label :prize_id %><br />
    <%= f.text_field :prize_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sound_document_prize %> |
<%= link_to 'Back', sound_document_prizes_path %>
