<% content_for :page_title, "Registo de novo utilizador" %>
<% content_for :body_id,    "new_user" %>

<% @user.password = @user.password_confirmation = nil %>

<% error_messages_for :user %>

<div id="signup-form">
  <% form_for :user, :url => users_path do |f| -%>
  <div>
    <%= label_tag 'login', 'Escolha Login' %><br/>
    <%= f.text_field :login %> 
  </div>
  <div>
    <%= label_tag 'email', 'Email' %><br/>
    <%= f.text_field :email %>  
  </div>  
  <div>
    <%= label_tag 'password', 'Escolha Password' %><br/>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= label_tag 'password_confirmation', 'Confirmação de Password' %><br/>
    <%= f.password_field :password_confirmation %>            
  </div>
  <p><%= submit_tag 'Submeter dados' %></p>
</div>
<% end -%>
