<h1>Editing writen_document_locals</h1>

<% form_for(@writen_document_locals) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :writen_document_id %><br />
    <%= f.text_field :writen_document_id %>
  </p>
  <p>
    <%= f.label :local_id %><br />
    <%= f.text_field :local_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @writen_document_locals %> |
<%= link_to 'Back', writen_document_locals_path %>
