<p>
  <b>Writen document:</b>
  <%=h @writen_document_locals.writen_document_id %>
</p>

<p>
  <b>Local:</b>
  <%=h @writen_document_locals.local_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @writen_document_locals.description %>
</p>


<%= link_to 'Edit', edit_writen_document_locals_path(@writen_document_locals) %> |
<%= link_to 'Back', writen_document_locals_path %>
