<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Imagens e Sonoridades das Migrações - <%= yield :page_title %> </title>
  <%= stylesheet_link_tag 'default' %>
  <!--[if lt IE 8]> 
  <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" /> 
  <![endif]-->
  <%= javascript_include_tag 'http://www.google.com/friendconnect/script/friendconnect.js' %>
  <%= javascript_include_tag 'application' %>
</head>

<body id="<%= yield(:body_id) || "body" %>" >
  <div id="wrapper">

    <div id="header">
      <a href=<%= root_path %>><h1 id="idm-logo">Imagens e Sonoridades das Migrações</h1></a>
      <div id="account-bar">
        <%= link_to "Acerca", page_path("about") %> |
        <% if logged_in?%>	      
          <%= (link_to "Administração", admin_movies_path) + ' | ' if current_user.is_admin? %>
          <%= link_to "Log Out",   logout_path          %> 
        <%else%>
          <%= link_to "Login",    login_path  %> |
          <%= link_to "Registar", signup_path %>
        <% end %>
      </div>
    </div>

    <div id="nav-bar">
      <ul id="nav">
        <li> 
          <%= link_to "Filmes", movies_path, 
	              :id => "nav-movies-link", :title => "Lista de Filmes" %> 
        </li>
        <li> 
          <%= link_to "Documentos Sonoros", sound_documents_path,
		      :id => "nav-sound_documents-link", :title => "Lista de Documentos Sonoros" %> 
        </li>
        <li> 
          <%= link_to "Documentos Escritos", writen_documents_path,
		      :id => "nav-writen_documents-link", :title => "Lista de Documentos Escritos" %> 
        </li> 
        <li> 
          <%= link_to "Fotos", photos_path,
		      :id => "nav-photos-link", :title => "Lista de Fotos"%> 
        </li> 
        <li> 
          <%= link_to "Autores", authors_path,
		      :id => "nav-authors-link", :title => "Lista de Autores" %> 
        </li> 
        <li> 
          <%= link_to "Realizadores", directors_path,
		      :id => "nav-directors-link", :title => "Lista de Realizadores" %> 
        </li> 
      </ul>
      <div id="page_title"> <h2> <%= yield :page_title %> </h2> </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <% unless flash[:notice].blank? && flash[:error].blank? %>
        <div class="flash_text">
          <div style="color: green"><%= flash[:notice] %> </div>
          <div style="color: red"><%= flash[:error] %> </div>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </div>

  </div>

  <div id="footer">
    Copyright © 2008-<%= Time.now.year %>
    <%= link_to "Miguel Regedor", 'http://www.miguelregedor.wordpress.com/'%>, all rights reserved. 
    <%= link_to "XHTML", 'http://validator.w3.org/check/referer'%>, 
    <%= link_to "CSS",  'http://jigsaw.w3.org/css-validator/check/referer?warning=no&profile=css2'%>. 
    <!--[if lt IE 8]>
    <br /> <br />
    Versão limitada da página,
    devido à utilização de <span style="color:red;">Microsoft Internet Explorer desactulizado</span>.<br />  
    Actualize o seu browser, ou faça download do <a href="htttp://www.mozilla.com/firefox/">Mozilla Firefox</a> 
    para uma melhor experiência de navegação.
    <![endif]-->
  </div>

</body>

</html>
