<h1>New author_photo</h1>

<% form_for(@author_photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.label :photo_id %><br />
    <%= f.text_field :photo_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', author_photos_path %>
