<h1>Editing author</h1>

<% form_for(@author) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :biography %><br />
    <%= f.text_area :biography %>
  </p>
  <p>
    <%= f.label :first_work %><br />
    <%= f.text_field :first_work %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
