<% content_for :page_title do %>Lista de Autores<% end %>


<div id=authors-index-list class=resource-list>
  <p>
    Para ter acesso às últimas actualizações da nossa Base de dados visite a nossa pagina em 
    <a style='text-decoration:underline;' href='http://itacaproject.com'>www.itacaproject.com</a>.
  </p>
  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Name".humanize %>          </th>
      <th>              <%=h "Biography".humanize %>     </th>
    </tr>
  
    <% for resource in @authors %>
    <tr <%= cycle "", "class='odd'"%> >
      <td class="main">      <%= link_to h(truncate(resource.name,50,"...")),      author_path(resource) %></td>
      <td class="biography"> <%= link_to h(truncate(resource.biography,50,"...")), author_path(resource) %></td>
    </tr>
    <% end %>

  </table>
</div>


