<% content_for :page_title do %>Lista de Autores<% end %>


<div id=authors-index-list class=resource-list>
  <table>

    <tr class="table-header">
      <th></th>
      <th><%=h "Name".humanize %>          </th>
      <th><%=h "Biography".humanize %>         </th>
      <th></th>
    </tr>
  
    <% for resource in @authors %>
    <tr <%= cycle "", "class='odd'"%>  href="<%= author_path(resource)%>" >
      <td class="resource-pic">  </td>
      <td><%= link_to truncate(resource.name,80,"..."),      author_path(resource) %></td>
      <td><%= link_to truncate(resource.biography,80,"..."), author_path(resource) %></td>
      <td class="last-td-in-row"> </td>
    </tr>
    <% end %>

  </table>
</div>


