<p>
  <b>Name:</b>
  <%=h @author.name %>
</p>

<p>
  <b>Biography:</b>
  <%=h @author.biography %>
</p>

<p>
  <b>First work:</b>
  <%=h @author.first_work %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
