<% content_for :page_title, "Log In" %>
<% content_for :body_id,    "new_session" %>

<div id="login-form">
  <% form_tag session_path do -%>
  <div>
    <%= label_tag 'login', 'Login' %><br />
    <%= text_field_tag 'login', @login %>
  </div>
  <div>
    <%= label_tag 'password', 'Password' %><br/>
    <%= password_field_tag 'password', nil %>
  </div>  
  <div>
    <%= label_tag 'remember_me', 'Lembrar' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
  </div>
  <p><%= submit_tag 'Log in' %></p>
  <% end -%>
</div>
