<h1>Editing sound_document_writen_document</h1>

<% form_for(@sound_document_writen_document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sound_document_id %><br />
    <%= f.text_field :sound_document_id %>
  </p>
  <p>
    <%= f.label :writen_document_id %><br />
    <%= f.text_field :writen_document_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sound_document_writen_document %> |
<%= link_to 'Back', sound_document_writen_documents_path %>
