<h1>Editing movie_prize</h1>

<% form_for(@movie_prize) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :movie_id %><br />
    <%= f.text_field :movie_id %>
  </p>
  <p>
    <%= f.label :prize_id %><br />
    <%= f.text_field :prize_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @movie_prize %> |
<%= link_to 'Back', movie_prizes_path %>
