<p>
  <b>Movie:</b>
  <%=h @movie_prize.movie_id %>
</p>

<p>
  <b>Prize:</b>
  <%=h @movie_prize.prize_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @movie_prize.description %>
</p>


<%= link_to 'Edit', edit_movie_prize_path(@movie_prize) %> |
<%= link_to 'Back', movie_prizes_path %>
