<% content_for :page_title do %>Lista de Filmes<% end %>


<div id=movies-index-list class=resource-list>

  <p><%=h "
    A Base de Dados Imagens e Sonoridades das Migrações conta, neste momento, com #{Movie.count} filmes." %>
  </p>

  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Title".humanize %>          </th>
      <th>              <%=h "Director".humanize %>       </th>
      <th>              <%=h "Genre".humanize %>         </th>
    </tr>
  
    <% for movie in @movies %>
    <tr <%= cycle "", "class='odd'"%> href="<%= movie_path(movie)%>">
      <td class="main">
        <%= link_to h(truncate(movie.title,46,"...")), movie_path(movie), :title => movie.synopsis %>            
      </td>
      <td class="director">
        <%= link_to h(truncate(directors_names(movie),43,"...") || ""), movie_path(movie), :title => movie.synopsis %> 
      </td>
      <td class="genre">
        <%= link_to h(movie.genre && truncate(movie.genre.name,15,"...") || ""), movie_path(movie), :title => movie.synopsis %> 
      </td>
    </tr>
    <% end %>

  </table>
</div>


