<% content_for :page_title do %>
  <h2>Lista de Filmes</h2>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Synopsis</th>
    <th>Author</th>
    <th>Director</th>
    <th>Producer</th>
    <th>Production year</th>
    <th>Release date</th>
    <th>Comments</th>
    <th>Production context</th>
    <th>Distributor</th>
    <th>Duration</th>
    <th>Format</th>
    <th>Category</th>
    <th>Free</th>
    <th>Rights</th>
  </tr>

<% for movie in @movies %>
  <tr>
    <td><%=h movie.title %></td>
    <td><%=h movie.genre_id %></td>
    <td><%=h movie.synopsis %></td>
    <td><%=h movie.author_id %></td>
    <td><%=h movie.director_id %></td>
    <td><%=h movie.producer %></td>
    <td><%=h movie.production_year %></td>
    <td><%=h movie.release_date %></td>
    <td><%=h movie.comments %></td>
    <td><%=h movie.production_context %></td>
    <td><%=h movie.distributor %></td>
    <td><%=h movie.duration %></td>
    <td><%=h movie.format %></td>
    <td><%=h movie.category_id %></td>
    <td><%=h movie.free %></td>
    <td><%=h movie.rights %></td>
  </tr>
<% end %>
</table>


