<p>
  <b>Title:</b>
  <%=h @movie.title %>
</p>

<p>
  <b>Genre:</b>
  <%=h @movie.genre_id %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @movie.synopsis %>
</p>

<p>
  <b>Author:</b>
  <%=h @movie.author_id %>
</p>

<p>
  <b>Director:</b>
  <%=h @movie.director_id %>
</p>

<p>
  <b>Producer:</b>
  <%=h @movie.producer %>
</p>

<p>
  <b>Production year:</b>
  <%=h @movie.production_year %>
</p>

<p>
  <b>Release date:</b>
  <%=h @movie.release_date %>
</p>

<p>
  <b>Local:</b>
  <%=h @movie.local_id %>
</p>

<p>
  <b>Comments:</b>
  <%=h @movie.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @movie.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @movie.distributor %>
</p>

<p>
  <b>Duration:</b>
  <%=h @movie.duration %>
</p>

<p>
  <b>Format:</b>
  <%=h @movie.format %>
</p>

<p>
  <b>Category:</b>
  <%=h @movie.category_id %>
</p>

<p>
  <b>Category id1:</b>
  <%=h @movie.category_id1 %>
</p>

<p>
  <b>Category id2:</b>
  <%=h @movie.category_id2 %>
</p>

<p>
  <b>Category id3:</b>
  <%=h @movie.category_id3 %>
</p>

<p>
  <b>Category id4:</b>
  <%=h @movie.category_id4 %>
</p>

<p>
  <b>Free:</b>
  <%=h @movie.free %>
</p>

<p>
  <b>Rights:</b>
  <%=h @movie.rights %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
