<% content_for :page_title, @movie.title %>
<% content_for :body_id,    "show_movie" %>

<div id='generic-info'>
  <div id='item-presenter'>
    <div id='youtube-embeb'>
      <%= render_youtube @movie.youtube_link %>
    </div>
    <div id='related-photos'>
      <% @movie.photos.each do | photo | %>
        <%= link_to image_tag(photo.versions[:preview].relative_path), photo_path(photo), :title => "" %>
      <% end %>
    </div>
  </div>

  <div id= 'fields'>
    <%= render_field(@movie,'title')%>
    <%= render_field_div "Género", @movie.genre.name if @movie.genre %>
    <%= render_field_div "Temática", render_category_and_subs(@movie) %>
    <%= render_field(@movie, 'duration')%>
    <%= render_field(@movie, 'release_date')%>
    <%= render_field_div "Autor", @movie.author.name, 
                         :path => author_path(@movie.author_id),
                         :description => "" if @movie.author %></p>
    <%= render_field_div "Realizador", @movie.director.name, 
                         :path => director_path(@movie.director_id),
                         :description => "" if @movie.director %></p>
    <%= render_prizes_list @movie %>
    <%= render_field(@movie,'synopsis')%>
  </div>
</div>


<div id='related-info'>
  <h3>Relacionado com este filme:</h3>
  <%= render_related 'movies', (@movie.movies.map do | item | 
        { :title => item.title, :path => movie_path(item), :description => "" } 
      end) %> 
  <%= render_related 'locals', (@movie.locals.map do | item | 
        { :title => item.name, :path => local_path(item), :description => "" } 
      end) %> 
  <%= render_related 'sound_documents', (@movie.sound_documents.map  do | item | 
        { :title => item.title, :path => sound_document_path(item), :description => "" } 
      end) %> 
  <%= render_related 'writen_documents', (@movie.writen_documents.map do | item | 
        { :title => item.title, :path => writen_document_path(item), :description => "" } 
      end) %> 
</div>	


<div id='full-info'>
  <h3>Ficha técnica</h3>
  
  <div id='full-info-control'>

  </div>

  <div id='full-info-fields'>
    <% elements= [
	{ :render_type => 'normal'       , :attribute => "title"                                            } ,  
      	{ :render_type => 'id_field'     , :attribute => "genre_id"                                         } ,  
      	{ :render_type => 'id_field'     , :attribute => "category_id"                                      } ,  
      	{ :render_type => 'subcategories', :attribute => "subcategories"                                    } ,  
      	{ :render_type => 'normal'       , :attribute => "synopsis"                                         } ,
      	{ :render_type => 'id_field'     , :attribute => "author_id"                                        } ,
      	{ :render_type => 'id_field'     , :attribute => "director_id"                                      } ,  
      	{ :render_type => 'normal'       , :attribute => "producer"                                         } ,
      	{ :render_type => 'normal'       , :attribute => "production_year"                                  } ,  
      	{ :render_type => 'normal'       , :attribute => "release_date"                                     } ,  
      	{ :render_type => 'normal'       , :attribute => "production_context"                               } ,  
      	{ :render_type => 'normal'       , :attribute => "distributor"                                      } ,  
      	{ :render_type => 'normal'       , :attribute => "duration"                                         } ,  
      	{ :render_type => 'normal'       , :attribute => "format"                                           } ,  
      	{ :render_type => 'yes_or_no'    , :attribute => "free"                                             } ,  
      	{ :render_type => 'normal'       , :attribute => "rights"                                           } ,  
      	{ :render_type => 'simple'       , :attribute => "Link"               , :value => movie_url(@movie) } ,  
      	{ :render_type => 'none'         , :attribute => "youtube_link"                                     } ,  
      	{ :render_type => 'normal'       , :attribute => "comments"                                         } ,  
      	{ :render_type => 'normal'       , :attribute => "main_event"                                       } ,
      	{ :render_type => 'normal'       , :attribute => "cultural_context"                                 } ,  
      	{ :render_type => 'normal'       , :attribute => "image_sound"                                      } ,  
      	{ :render_type => 'normal'       , :attribute => "ccdc"                                             } ,
      	{ :render_type => 'normal'       , :attribute => "reading"                                          } ,  
      	{ :render_type => 'normal'       , :attribute => "exploration"                                      } ,
      	{ :render_type => 'normal'       , :attribute => "analisis"                                         } ,  
      	{ :render_type => 'normal'       , :attribute => "proposals"                                        } ,  
      	{ :render_type => 'none'         , :attribute => "created_at"                                       } ,  
      	{ :render_type => 'none'         , :attribute => "updated_at"                                       } ,  
      	{ :render_type => 'none'         , :attribute => "user_id"                                          } ,  
      	{ :render_type => 'none'         , :attribute => "status"                                           } 
    ] %>
    <table>
      <% elements.each do | element |  %>
        <%= render_full_info_element element, @movie, (cycle "", "odd") %>
      <% end %>
    </table>	    
  </div>  
</div>

