<h1>Editing contry</h1>

<% form_for(@contry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @contry %> |
<%= link_to 'Back', contries_path %>
