<% content_for :page_title do %>Lista de Fotos<% end %>

<div id=photos-index-list class=resource-list>
  <table>

    <tr>
      <th></th>
      <th><%=h "Title".humanize %>          </th>
      <th><%=h "Author".humanize %>         </th>
      <th><%=h "Synopsis".humanize %>       </th>
    </tr>
  
    <% for resource in @photos %>
    <tr <%= cycle "", "class='odd'"%> href="<%= photo_path(resource) %>">
      <td class="resource-pic"></td>
      <td><%= link_to truncate(resource.title,60,"..."), photo_path(resource) %></td>
      <td><%= link_to resource.author.name, author_path(resource.author) if resource.author %></td>
      <td><%=h truncate(resource.synopsis,60,"...") %></td>
    </tr>
    <% end %>

  </table>
</div>
