<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @photo.synopsis %>
</p>

<p>
  <b>Author:</b>
  <%=h @photo.author_id %>
</p>

<p>
  <b>Editor:</b>
  <%=h @photo.editor %>
</p>

<p>
  <b>Production year:</b>
  <%=h @photo.production_year %>
</p>

<p>
  <b>Comments:</b>
  <%=h @photo.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @photo.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @photo.distributor %>
</p>

<p>
  <b>Format:</b>
  <%=h @photo.format %>
</p>

<p>
  <b>Rights:</b>
  <%=h @photo.rights %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
