<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @photo.synopsis %>
</p>

<p>
  <b>Author:</b>
  <%=h @photo.author_id %>
</p>

<p>
  <b>Editor:</b>
  <%=h @photo.editor %>
</p>

<p>
  <b>Production year:</b>
  <%=h @photo.production_year %>
</p>

<p>
  <b>Local:</b>
  <%=h @photo.local_id %>
</p>

<p>
  <b>Comments:</b>
  <%=h @photo.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @photo.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @photo.distributor %>
</p>

<p>
  <b>Format:</b>
  <%=h @photo.format %>
</p>

<p>
  <b>Category:</b>
  <%=h @photo.category_id %>
</p>

<p>
  <b>Category id1:</b>
  <%=h @photo.category_id1 %>
</p>

<p>
  <b>Category id2:</b>
  <%=h @photo.category_id2 %>
</p>

<p>
  <b>Category id3:</b>
  <%=h @photo.category_id3 %>
</p>

<p>
  <b>Category id4:</b>
  <%=h @photo.category_id4 %>
</p>

<p>
  <b>Free:</b>
  <%=h @photo.free %>
</p>

<p>
  <b>Rights:</b>
  <%=h @photo.rights %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
