<% content_for :page_title do %>Lista de Documentos Escritos<% end %>


<div id=writen_documents-index-list class=resource-list>

  <p><%=h "
    A Base de Dados Imagens e Sonoridades das Migrações conta, neste momento, com #{WritenDocument.count} documentos escritos." %>
  </p>

  <table>

    <tr class="table-header">
      <th class="main"> <%=h "Title".humanize %>          </th>
      <th>              <%=h "Author".humanize %>       </th>
      <th>              <%=h "Tipo".humanize %>         </th>
    </tr>
  
    <% for writen_document in @writen_documents %>
    <tr <%= cycle "", "class='odd'"%> href="<%= writen_document_path(writen_document)%>">
      <td class="main">
        <%= link_to h(truncate(writen_document.title,46,"...")), writen_document_path(writen_document), :title => writen_document.synopsis %>            
      </td>
      <td class="director">
        <%= link_to h(truncate(authors_names(writen_document),43,"...") || ""), writen_document_path(writen_document), :title => writen_document.synopsis %> 
      </td>
      <td class="genre">
        <%= link_to h(writen_document.document_type && truncate(writen_document.document_type.name,15,"...") || ""), writen_document_path(writen_document), :title => writen_document.synopsis %> 
      </td>
    </tr>
    <% end %>

  </table>
</div>


