<% content_for :page_title do %>Lista de Documentos Escritos<% end %>

<div id=writen-documents-index-list class=resource-list>
  <p>
    Em breve poderá encontrar novidades nesta secção.
  </p>
  <% if false%>
  <table>

    <tr>
      <th></th>
      <th><%=h "Title".humanize %>          </th>
      <th><%=h "Author".humanize %>         </th>
      <th><%=h "document type".humanize %>          </th>
      <th><%=h "Synopsis".humanize %>       </th>
    </tr>
  
    <% for resource in @writen_documents %>
    <tr <%= cycle "", "class='odd'"%> href="<%= writen_document_path(resource) %>">
      <td class="resource-pic"></td>
      <td><%= link_to truncate(resource.title,60,"..."), writen_document_path(resource) %></td>
      <td><%= link_to resource.author.name, author_path(resource.author) if resource.author %></td>
      <td><%=h resource.document_type.name if resource.document_type %></td>
      <td><%=h truncate(resource.synopsis,60,"...") %></td>
    </tr>
    <% end %>

  </table>
  <%end%>
</div>

