<p>
  <b>Title:</b>
  <%=h @writen_document.title %>
</p>

<p>
  <b>Document type:</b>
  <%=h @writen_document.document_type_id %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @writen_document.synopsis %>
</p>

<p>
  <b>Author:</b>
  <%=h @writen_document.author_id %>
</p>

<p>
  <b>Editor:</b>
  <%=h @writen_document.editor %>
</p>

<p>
  <b>Production year:</b>
  <%=h @writen_document.production_year %>
</p>

<p>
  <b>Local:</b>
  <%=h @writen_document.local_id %>
</p>

<p>
  <b>Comments:</b>
  <%=h @writen_document.comments %>
</p>

<p>
  <b>Production context:</b>
  <%=h @writen_document.production_context %>
</p>

<p>
  <b>Distributor:</b>
  <%=h @writen_document.distributor %>
</p>

<p>
  <b>Format:</b>
  <%=h @writen_document.format %>
</p>

<p>
  <b>Category:</b>
  <%=h @writen_document.category_id %>
</p>

<p>
  <b>Category id1:</b>
  <%=h @writen_document.category_id1 %>
</p>

<p>
  <b>Category id2:</b>
  <%=h @writen_document.category_id2 %>
</p>

<p>
  <b>Category id3:</b>
  <%=h @writen_document.category_id3 %>
</p>

<p>
  <b>Category id4:</b>
  <%=h @writen_document.category_id4 %>
</p>

<p>
  <b>Free:</b>
  <%=h @writen_document.free %>
</p>

<p>
  <b>Rights:</b>
  <%=h @writen_document.rights %>
</p>


<%= link_to 'Edit', edit_writen_document_path(@writen_document) %> |
<%= link_to 'Back', writen_documents_path %>
